.list {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid rgba(128, 128, 128, 0.735);
  padding: 4px 6px;
  border-radius: 4px;
}

.tab {
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.2s;
  font-weight: 500;
  background-color: transparent;
}

.tab:hover {
  background-color: #2a2a2a;
}

.tab[data-active] {
  background-color: #6d28d9;
  color: white;
}

.indicator {
  display: none !important;
}
